!deeplearning/articles/
deeplearning/articles/*
deeplearning/data/*
deeplearning/glove/*
deeplearning/outputs/*
deeplearning/models/logs/*
deeplearning/models/history.pkl
deeplearning/models/train.hdf5